/*******************************************************************/
/*                   Estilos de Etiquetas Generales                */
/*******************************************************************/

body{
	font-family: "Dancing Script";
	background-color: #02010a;
	font-size: 16px;
	animation: animacontenido 1s;
}

header{
	width: 100%;
	padding: 15px 0;
	display: flex;
	flex-flow: row wrap;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #5b7989;
}

section{
	width: 100%;
}

img{
	width: 100%;
	box-shadow: 2px 2px 2px  #02010a;
}

footer{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	background-color: #C6d5c5;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer h2{
	margin-left: 20px;
}

footer p{
	margin: 0;
	padding: 0 10px 20px 20px;
	line-height: 25px;

}

footer div{
	padding: 15px 0 40px 0;
}

#contenido{
	width: 900px;
	margin: 0 auto;
}

/*******************************************************************/
/*               Maquetacion de Cabecera                           */
/*******************************************************************/
#h-col1{
	width: 50%;
}

#h-col1 h1{
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	margin: 0 0 0 20px;
}

#h-col2{
	width: 50%;
	margin: auto 0;
}

#h-col2 ul{
	margin: 10px 20px;
	padding: 0;
	text-align: right;
	list-style-type: none;
}

#h-col2 ul li{
	display: inline-block;
}

#h-col2 ul li a{
	color: white;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
}

#h-col2 ul li a:hover{
	text-decoration: underline;
}

/*******************************************************************/
/*               Maquetacion de pie de Pagina                      */
/*******************************************************************/
#f-col1, #f-col2, #f-col3, #f-col4{
	width: 25%;
}

#f-col3 p{
	margin: 0;
	padding: 0 10px 0 20px;
}

#f-col3 ul li a{
	color: black;
	text-decoration: none;
}

.icon-fb{
	list-style-image: url(../img/icon-facebook.png);
}

.icon-tw{
	list-style-image: url(../img/icon-twitter.png);
}

.icon-ig{
	list-style-image: url(../img/icon-instagram.png);
}

/*******************************************************************/
/*               Maquetacion de Imagen Principal                   */
/*******************************************************************/
#art-pri{
	width:100%;
	background-color: #82c3a6;
}

#art-pri figure{
	width: 90%;
	margin:0 auto;
	padding: 20px 0;
}

/*******************************************************************/
/*               Maquetacion de Imagenes Secundarias               */
/*******************************************************************/

#art-sec{
	width: 100%;
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}

#art-sec figure{
	width: 40%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

#art-sec figure img{
	margin-bottom: 5px;
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px solid #82c3a6;
}

#art-sec figure a{
	color: black;
}

.imgsec-1:hover{
	box-shadow: 2px 2px 2px #82c3a6;
	border: none;
	animation: animarotacion 3s;
}

.imgsec-2:hover{
	box-shadow: 2px 2px 2px #82c3a6;
	animation: animatraslacion 2s;
}

/*******************************************************************/
/*                   Sentencias Keyframes                          */
/*******************************************************************/
@keyframes animarotacion{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(10deg);
	}
}

@-webkit-keyframes animarotacion{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(10deg);
	}
}

@keyframes animatraslacion{
	from{
		transform: translate(0, 0);
	}
	to{
		transform: translate(20px, -5px);
	}
}

@-webkit-keyframes animatraslacion{
	from{
		transform: translate(0, 0);
	}
	to{
		transform: translate(20px, -5px);
	}
}

@keyframes animacontenido{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}

@-webkit-keyframes animacontenido{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}

/*******************************************************************/
/*              Maquetacion para Galeria de Imagenes               */
/*******************************************************************/

#art-galeria{
	width: 100%;
	background-color: #d5c75f;
	display: flex;
	flex-flow: row wrap;
}

#item1, #item2, #item3, #item4, #item5, #item6{
	margin: 0 auto;
	padding: 15px;
	width: 30%;
}

/*******************************************************************/
/*              Filtros para Galeria de Imagenes                   */
/*******************************************************************/

#item1 img{
	filter: blur(10px);
	-moz-filter: blur(10px);
	-webkit-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
}

#art-galeria div:nth-child(even){
	filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}

#item3 img{
	filter: sepia(90%);
	-moz-filter: sepia(90%);
	-webkit-filter: sepia(90%);
	-ms-filter: sepia(90%);
	-o-filter: sepia(90%);
}

/*******************************************************************/
/*                           Media Queries                         */
/*******************************************************************/

@media (max-width: 900px){
	#contenido{
		width: 100%;
		margin: 0 auto;
	}
	header{
		width: 100%;
	}
	#h-col1{
		width: 100%;
		text-align: center;
	}

	#h-col1 h1{
		margin: 0 0 10px 0;
	}

	#h-col2{
		width: 100%;
	}

	#h-col2 ul{
		text-align: center;
	}

	#art-sec figure{
		width: 100%;
		margin: 0 auto;
		padding: 15px 30px;
		text-align: center;
	}

	#item1, #item2, #item3, #item4, #item5, #item6{
		margin: 0 auto;
		padding: 15px;
		width: 100%;
	}

	footer{
		width: 100%;
	}

	footer div{
		padding: 10px 20px 0 30px;
	}

	#f-col1, #f-col2, #f-col3, #f-col4{
		width: 100%;
	}
}
